#App {
  position: relative;
  min-height: 100vh;
}

body {
  font-family: 'Roboto', sans-serif;
  min-width: 360px;
  height: unset;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1 {
  text-align: center;
  font-size: 96px;
  font-weight: 900;
  color: #333;
  opacity: .5;
}

.deleteDOM {display: none !important;}