#App {
  position: relative;
  min-height: 100vh;
}

body {
  font-family: 'Roboto', sans-serif;
  min-width: 360px;
  height: unset;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.follow {
  background: #0095f6;
  color: @white;
  min-height: 45px;

  &:hover {
    background: #007ac9;
  }
  transition: all .3s ease-in-out;
}

.unfollow {
  background: @white;
  border: 1px solid @black;
  color: @black;

  &:hover {
    color: @white;
    border-color: #007ac9;
    background: #007ac9;
    opacity: .5;
  }
}

h1 {
  text-align: center;
  font-size: 96px;
  font-weight: 900;
  color: #333;
  opacity: .5;
}

.close {
  position: relative;
  width: 27px;
  height: 27px;
  background: none;
  transition: transform .3s ease-in-out;

  &::before,
  &::after {
    content: "";
    position: absolute;
    bottom: 50%;
    right: 0;

    width: 100%;
    height: .5px;
    background-color: #333333;

    transition: all .3s ease-in-out;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover,
  &:focus {
    transform: rotate(180deg);

    &::before,
    &::after {
      background-color: @orange;
    }

  }
}

.profile-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding-bottom: 25px;
  border-bottom: 1px solid @blackLowOpacity;

  svg {
    color: @black;
    transition: all .3s ease-in-out;
  }

  &:hover,
  &:focus {
    svg {
      transform: translateX(5px);
    }
  }

  &__info {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      width: 35px;
      height: 35px;

      background: @blackLowOpacity;
      border-radius: 50%;
      object-fit: cover;

      margin-right: 10px;
      transition: all .3s ease-in-out;
    }

    p {
      font-size: 18px;
      font-weight: 500;
      color: #262626;
      transition: all 0.3s ease-in-out;
    }
  }
}

.likes {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-top: 10px;
  margin-bottom: 0;

  .like {
    color: @black;
    fill-opacity: 0;

    width: 14px;
    height: 12px;
    margin-right: 5px;

    transition: all .3s ease-in-out;

    &_active {
      fill-opacity: 1;

      stroke: rgba(237, 73, 86, 1);
      color: rgba(237, 73, 86, 1);
    }
  }

  span {
    line-height: 12px;
    font-weight: 100;

    transition: all .3s ease-in-out;
  }

  &:hover {
    .like {
      fill-opacity: 1;
      stroke: rgba(237, 73, 86, 0.1);
      color: rgba(237, 73, 86, .8);
    }
  }
}